aniso8601==8.0.0
attrs==19.2.0
certifi==2022.12.7
Click==7.0
Flask==1.1.1
flask-restplus==0.13.0
gunicorn==19.9.0
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.1.1
MarkupSafe==1.1.1
more-itertools==7.2.0
git+https://github.com/avinash-oza/pi-funcs.git@v0.2#egg=pi-funcs
pathlib2==2.3.5
pyrsistent==0.15.4
pytz==2019.3
six==1.12.0
Werkzeug==0.16.0
zipp==0.6.0
